@model SiteManager.CLIENT.Models.ResetPasswordModel

@{
	Layout = "_AuthenticationLayout";
	ViewData["Title"] = "Şifreyi Yenile";
}

<div class="grid grid-cols-1 md:grid-cols-2 items-center">
    <section class="order-2 md:order-none">
        <div class="flex flex-col items-center justify-center px-4 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
                <div class="py-6 space-y-4 md:space-y-6 sm:p-8">
                    <div class="flex flex-col gap-4">
                        <h1 class="flex items-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Şifremi değiştir <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6155 19H9.38547C7.48448 18.9677 5.96928 17.401 6.00047 15.5V12C5.98314 10.4263 7.02358 9.03658 8.53847 8.61V8.15C8.48798 6.46276 9.81332 5.0533 11.5005 5C13.1876 5.0533 14.513 6.46276 14.4625 8.15V8.61C15.9774 9.03658 17.0178 10.4263 17.0005 12V15.5C17.0317 17.401 15.5165 18.9677 13.6155 19Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.7504 15.5C10.7504 15.9142 11.0862 16.25 11.5004 16.25C11.9146 16.25 12.2504 15.9142 12.2504 15.5H10.7504ZM12.2504 13.75C12.2504 13.3358 11.9146 13 11.5004 13C11.0862 13 10.7504 13.3358 10.7504 13.75H12.2504ZM14.27 9.33487C14.6703 9.44116 15.081 9.20279 15.1873 8.80245C15.2936 8.4021 15.0552 7.99139 14.6549 7.8851L14.27 9.33487ZM13.6164 8.49999V9.24999L13.6171 9.24999L13.6164 8.49999ZM9.38543 8.49999L9.38474 9.24999H9.38543V8.49999ZM8.34697 7.8851C7.94663 7.99139 7.70825 8.4021 7.81454 8.80245C7.92084 9.20279 8.33155 9.44116 8.73189 9.33487L8.34697 7.8851ZM12.2504 15.5V13.75H10.7504V15.5H12.2504ZM14.6549 7.8851C14.3159 7.79508 13.9665 7.74966 13.6157 7.74999L13.6171 9.24999C13.8375 9.24978 14.057 9.27832 14.27 9.33487L14.6549 7.8851ZM13.6164 7.74999H9.38543V9.24999H13.6164V7.74999ZM9.38612 7.74999C9.03533 7.74966 8.68601 7.79508 8.34697 7.8851L8.73189 9.33487C8.94489 9.27832 9.16436 9.24978 9.38474 9.24999L9.38612 7.74999Z" fill="black" />
                            </svg>

                        </h1>
                        <span class="text-sm text-gray-500 mb-3">
                            Today is a new day. It's your day. You
                            shape it. Sign in to start managing your projects.
                        </span>
                    </div>
                    <form class="space-y-4 md:space-y-6" asp-controller="ResetPassword" asp-action="ResetPassword" asp-area="Authentication">
	                    @Html.AntiForgeryToken()
	                    <input type="hidden" name="Token" value="@Model.Token"/>
	                    <input type="hidden" name="Email" value="@Model.Email"/>
	                    <div>
		                    <label asp-for="Password"
		                           class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Yeni parola</label>
		                    <input type="password" asp-for="Password" placeholder="••••••••"
		                           class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
		                           required="">
	                    </div>
	                    <div>
		                    <label asp-for="ConfirmPassword"
		                           class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Doğrula</label>
		                    <input type="password" asp-for="ConfirmPassword" placeholder="••••••••"
		                           class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
		                           required="">
	                    </div>
	                    <button type="submit"
	                            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 bg-btn">
		                    Şifremi değiştir
	                    </button>
                    </form>
                    @if (TempData["Message"] != null)
                    {
	                    <div class="text-white text-sm bg-red-500 rounded-lg px-4 py-1.5">
		                    <span>@TempData["Message"]</span>
	                    </div>
                    }
                    @if (!ViewData.ModelState.IsValid)
                    {
	                    <div class="text-white text-sm bg-red-500 rounded-lg px-4 py-1.5">

		                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
		                    {
			                    <span>@error.ErrorMessage</span>
		                    }
	                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="order-1 flex flex-col items-center justify-center px-4 mx-auto md:h-screen lg:py-0 h-36 md:h-full">
        <img src="Assets/Uploads/Page-Images/Auth-3.png" alt="">
    </div>
</div>
